[DEFAULT]
## filter options
debug=
glance_api_servers =
memcached_servers =
neutron_admin_auth_url =
rabbit_hosts =
neutron_url =
novncproxy_base_url =
vncserver_proxyclient_address =
rabbit_password =
neutron_admin_password =
##
notification_driver=ceilometer.compute.nova_notifier
notification_driver=nova.openstack.common.notifier.rpc_notifier
amqp_durable_queues=False
rabbit_use_ssl=False
rabbit_userid=nova
rabbit_virtual_host=/
rabbit_ha_queues=True
rpc_backend=nova.openstack.common.rpc.impl_kombu
notify_on_state_change=vm_and_task_state
notify_api_faults=False
state_path=/var/lib/nova
report_interval=10
service_down_time=60
instance_usage_audit_period=hour
rootwrap_config=/etc/nova/rootwrap.conf
auth_strategy=keystone
neutron_default_tenant_id=default
allow_resize_to_same_host=True
instance_usage_audit=True
resume_guests_state_on_host_boot=True
network_api_class=nova.network.neutronv2.api.API
linuxnet_interface_driver=nova.network.linux_net.LinuxOVSInterfaceDriver
linuxnet_ovs_integration_bridge=br-int
security_group_api=neutron
lock_path=/var/lib/nova/tmp
verbose=True
log_dir=/var/log/nova
use_syslog=True
use_syslog_rfc_format=True
syslog_log_facility=LOG_LOCAL6
compute_driver=libvirt.LibvirtDriver
use_cow_images=True
vif_plugging_is_fatal=True
vif_plugging_timeout=300
firewall_driver=nova.virt.firewall.NoopFirewallDriver
vncserver_listen=0.0.0.0
vnc_enabled=True
neutron_extension_sync_interval=600
neutron_region_name=RegionOne
neutron_url_timeout=30
image_service=nova.image.glance.GlanceImageService
compute_scheduler_driver=nova.scheduler.filter_scheduler.FilterScheduler
neutron_auth_strategy=keystone
neutron_ovs_bridge=br-int
neutron_admin_tenant_name=services
neutron_admin_username=neutron
connection_type=libvirt
[baremetal]
[cells]
[cinder]
catalog_info = volumev2:cinderv2:internalURL
[conductor]
[ephemeral_storage_encryption]
[glance]
[hyperv]
[image_file_url]
[ironic]
[keymgr]
[keystone_authtoken]
[libvirt]
## filter options
rbd_secret_uuid =
##
virt_type=kvm
inject_key=False
inject_partition=-2
live_migration_flag=VIR_MIGRATE_UNDEFINE_SOURCE,VIR_MIGRATE_PEER2PEER,VIR_MIGRATE_LIVE,VIR_MIGRATE_PERSIST_DEST
cpu_mode=host-model
disk_cachemodes="network=writeback,block=none"
images_type=rbd
images_rbd_pool=compute
rbd_user=compute
vif_driver=nova.virt.libvirt.vif.LibvirtGenericVIFDriver
[matchmaker_redis]
[matchmaker_ring]
[metrics]
[neutron]
[osapi_v3]
[rdp]
[serial_console]
[spice]
[ssl]
[trusted_computing]
[upgrade_levels]
[vmware]
[xenserver]
[zookeeper]
[database]
## filter options
connection =
##
idle_timeout=3600
