[DEFAULT]
amqp_durable_queues=False
rabbit_use_ssl=False
rabbit_userid=nova
rabbit_virtual_host=/
rabbit_ha_queues=True
notification_driver=
notification_topics=notifications
rpc_backend=nova.openstack.common.rpc.impl_kombu
notify_api_faults=False
state_path=/var/lib/nova
quota_instances=100
quota_cores=100
quota_ram=51200
quota_floating_ips=100
quota_metadata_items=1024
quota_security_groups=10
quota_security_group_rules=20
quota_key_pairs=10
reservation_expire=86400
max_age=0
quota_driver=nova.quota.DbQuotaDriver
report_interval=10
enabled_apis=ec2,osapi_compute,metadata
osapi_compute_workers=12
metadata_listen=0.0.0.0
metadata_workers=12
service_down_time=60
rootwrap_config=/etc/nova/rootwrap.conf
api_paste_config=/etc/nova/api-paste.ini
auth_strategy=keystone
use_forwarded_for=False
neutron_default_tenant_id=default
novncproxy_port=6080
allow_resize_to_same_host=True
resume_guests_state_on_host_boot=True
network_api_class=nova.network.neutronv2.api.API
default_floating_pool=net04_ext
teardown_unused_network_gateway=True
security_group_api=neutron
s3_listen=0.0.0.0
lock_path=/var/lib/nova/tmp
debug=False
verbose=True
log_dir=/var/log/nova
use_syslog=True
use_syslog_rfc_format=True
syslog_log_facility=LOG_LOCAL6
scheduler_host_manager=nova.scheduler.host_manager.HostManager
scheduler_host_subset_size=30
cpu_allocation_ratio=8.0
disk_allocation_ratio=1.0
max_io_ops_per_host=8
max_instances_per_host=50
ram_allocation_ratio=1.0
scheduler_available_filters=nova.scheduler.filters.all_filters
scheduler_default_filters=RetryFilter,AvailabilityZoneFilter,RamFilter,CoreFilter,DiskFilter,ComputeFilter,ComputeCapabilitiesFilter,ImagePropertiesFilter,ServerGroupAntiAffinityFilter,ServerGroupAffinityFilter
scheduler_weight_classes=nova.scheduler.weights.all_weighers
scheduler_max_attempts=3
ram_weight_multiplier=1.0
use_cow_images=True
vif_plugging_is_fatal=True
vif_plugging_timeout=300
firewall_driver=nova.virt.firewall.NoopFirewallDriver
volume_api_class=nova.volume.cinder.API
neutron_extension_sync_interval=600
quota_volumes=100
quota_max_injected_file_content_bytes=102400
neutron_region_name=RegionOne
neutron_url_timeout=30
image_service=nova.image.glance.GlanceImageService
quota_max_injected_files=50
compute_scheduler_driver=nova.scheduler.filter_scheduler.FilterScheduler
neutron_auth_strategy=keystone
quota_max_injected_file_path_bytes=4096
neutron_ovs_bridge=br-int
neutron_admin_tenant_name=services
quota_gigabytes=1000
service_neutron_metadata_proxy=True
neutron_admin_username=neutron
[baremetal]
[cells]
[cinder]
[conductor]
workers=12
[ephemeral_storage_encryption]
[glance]
[hyperv]
[image_file_url]
[ironic]
[keymgr]
[keystone_authtoken]
auth_port=35357
auth_protocol=http
admin_user=nova
admin_tenant_name=services
signing_dir=/tmp/keystone-signing-nova
signing_dirname=/tmp/keystone-signing-nova
[libvirt]
[matchmaker_redis]
[matchmaker_ring]
[metrics]
[neutron]
[osapi_v3]
[rdp]
[serial_console]
[spice]
[ssl]
[trusted_computing]
[upgrade_levels]
[vmware]
[xenserver]
[zookeeper]
[DATABASE]
max_pool_size=30
max_retries=-1
max_overflow=60
[database]
idle_timeout=3600
